.services {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services-item {
  border: 1px solid gray;
  border-radius: 50px;
  padding: 10px 21px;
  font-size: 21px;
  font-weight: 600;
}

.service-icon {
  margin-right: 5px;
}

.service-icon.bi-card-image {
  color: gray;
}
.service-icon.bi-people-fill {
  color: rgb(52, 5, 96);
}
.service-icon.bi-building {
  color: var(--orange-color);
}
.service-icon.bi-globe {
  color: black;
}
/* Media Queries */
@media (max-width: 920px) {
  .services-item {
    padding: 7px 17px;
    font-size: 17px;
  }
}
@media (max-width: 720px) {
  .services {
    flex-wrap: wrap;
  }
  .services-item {
    padding: 10px 15px;
    font-size: 20px;
    width: 45%;
    margin-bottom: 15px;
  }
}
@media (max-width: 400px) {
  .services-item {
    font-size: 24px;
    width: 90%;
    text-align: center;
  }
}
