* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'fira sans',
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

:root {
  --orange-color: rgb(248, 70, 11);
  --primary-text-color: #222821;
}

body {
  background-color: #efefef;
}

ul {
  padding: 0;
  list-style: none;
}
