.banner {
  width: 100%;
  height: 300px;
  padding: 40px;
  margin: 20px 0;
}

.banner-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.banner-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.banner-layout {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-layout-title {
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 720px) {
  .banner-layout-title {
    font-size: 30px;
  }
}
@media (max-width: 520px) {
  .banner-layout-title {
    font-size: 21px;
  }
}
